.example-form-field {
    width: 90%;
    padding-right: 2%;
    padding-left: 1%;
  }
mat-grid-tile {
    background: lightblue;
    padding-left: 45%;
    padding-bottom: 20%;
    margin-left: 1%;
  }
  button{
    cursor: pointer;
}
.groups{
    display: inline;
    margin-right: 82%;
    height: 100%;

}
.groups h1{
    padding-bottom: 10%;
}