*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
.body{
    background: linear-gradient(aqua,rgb(93, 19, 211));
    position: absolute;
    top: 0%;
    left: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    height: 100%;
    color: #f0f0f0;
    
}
.container{
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0.3);
    width: 300px;
    max-width: 100%;
}
.header{
    background-color: rgb(73, 147, 207);
    border-radius: 10px 10px 0px 0px;
    text-align: center;
    padding: 2px;
    color: black;
}
.form{
    padding: 13px;
    background-color: rgb(26, 46, 221);
}
.form-control{
    margin-bottom: 5px;
    position: relative;
}
.form button{
    background-color: rgb(73, 147, 207);
    border: 2px solid rgb(73, 147, 207);
    color: black;
    font-size: 13px;
    width: 100%;
    border-radius: 10px;
}
.form-control input{
    border: 2px solid #f0f0f0;
    display: block;
    border-radius: 8px;
    font-size: 13px;
    width: 100%;
    height: 20px;
}
.lista{
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 2%;
}